.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container img{
    width: 15rem;
}
.container h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2rem;
}
.container h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

