.container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-top: 10vh;
    overflow-y: auto;
}
.header{
    min-height: 10vh;
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    color: white;
}
.menubtn{
    position: relative;
    right: 10px;
    font-size: 30px;
}

.chatOptndiv{
    position: absolute;
    right: 0;
    top: 10vh;
    height: 10vh;
    z-index: 100;
    background-color: var(--mainColor);
    min-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    pointer-events: auto;
}

.chatOptndiv button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px;
    border-radius: 10px;
}
.chatOptndiv button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chatOptndiv .icon{
    margin-bottom: 2px;
}

.user{
    padding: 10px 5%;
    display: flex;
    width: 100%;
    align-items: "center";
}
.user img{
    width: 2.5rem;
    height: 2.5rem;
    margin: auto 0;
    border-radius: 50%;
    margin-right: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h2{
    font-size: 18px;
    font-weight: bold;
}
.info p{
    color: rgb(205, 202, 202);
}

.chat{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 90vh;
    padding: 10px;
    scrollbar-width: thin;
}

.left{
    align-self: flex-start;
    background-color: #727272;
    color: #fff;
    padding: 5px 20px;
    margin: 5px 2px;
    margin-left: 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    overflow-wrap: break-word;
    position: relative;
}
.right{
    align-self: flex-end;
    background-color: #4c91c7;
    color: #fff;
    padding: 2px 20px;
    padding-top: 7px;
    margin: 5px 2px;
    border-radius: 10px;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    overflow-wrap: break-word;
    position: relative;
}
.right .time{
    align-self: flex-end;
    margin: 2px;
    display: flex;
}
.left .time{
    opacity: 0.5;
    font-size: smaller;
    align-self: flex-start;
    margin: 2px;
    display: flex;
}

.right .msgebtn{
    position: absolute;
    right: 2px;
    font-size: 17px;
}


.left .msgebtn{
    display: none;
}

.left .seen{
    display: none;
}

.right .time .seen{
    font-size: larger;
    opacity: 1;
    color: white;
    margin-left: 12px;
}

.msgOptndiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.msgOptndiv button{
    font-size: 20px;
}

.sendDiv{
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}

.txtInput{
    width: 95%;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    padding: 1vh 9%;
    min-height: 8vh;
    max-height: 17vh;
    margin-left: 3%;
    resize: none;
    overflow-y: auto;
    scrollbar-width: none;
}
.imgBtn{
    position: absolute;
    left: 6%;
    bottom: 49px;
    transform: translateY(75%);
    z-index: 99;
    font-size: 25px;
}

.submitBtn{
    font-size: 30px;
    position: absolute;
    right: 4%;
    bottom: 40px;
    transform: translateY(40%);
}

.imgPrevContainer{
    margin: 10px 0;
    margin-left: 6%;
}
.imgPrevDiv img{
    width: 70px;
    aspect-ratio: 1;
    object-fit: cover;
}
.imgPrevDiv{ 
    display: flex;
    position: relative;
}


.imgPrevDiv button{
    position: absolute;
    top: -5px;
    left: 70px;
    transform: translateX(-50%);
    background-color: #4c91c7;
    border-radius: 50%;
    width: 25px;
    aspect-ratio: 1;
    color: white;
    font-weight: bolder;
}


.backBtn{
    font-size: 25px;
    margin-left: 10px;
}


.hide{
    display: none;
}

.chat img{
    width:10rem;
}

@media (max-width:1200px) {
    .txtInput{
        width: 95%;
    }
}

@media (max-width:350px) {
    .txtInput{
        padding: 1vh 13%;
    }
}

@media (max-width:450px) {
    .txtInput{
        padding: 1vh 12%;
    }
}
