.container{
    height: 100%;
    padding-top: 20px;
    box-shadow: rgba(231, 229, 229, 0.15) 1.95px 1.95px 2.6px;
    height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
}
.topBar {
    width: 100%;
    display: flex;
    position: relative;
}
.topBar input{
    width: 90%;
    border: 1px solid var(--borderColor);
    border-radius: 20px;
    padding: 10px 50px;
    margin: 0 auto;
}

.searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 9%;
}

.online{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
}

.imgDiv{
    position: relative;
}

.imgDiv p{
    position: absolute;
    font-size: 100px;
    color: rgb(7, 219, 7);
    left: 30px;
    bottom: 0;
}

.info p{
    color:var(--fontColor)
}

.online label{
    margin-right: 20px;
}
.online input{
    margin-right: 2px;
}

.chats{
    margin: 20px 0;
    width: 100%;
}
.list{
    padding: 15px 5%;
    display: flex;
    width: 100%;
}
.list img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 15px;
}
.list:hover{
    background-color: var(--hover);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h2{
    font-size: 18px;
    font-weight: bold;
    text-align: start;
}
.info p{
    color: gray;
}

@media (max-width:1000px) {
    .list img{
    
    margin-right: 12px;
}
}