@import "tailwindcss";

.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
button:hover {
  cursor: pointer;
}

@media (max-width: 525px) {
  p {
    font-size: 0.8rem;
  }
}
